@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }
    .container mx-auto {
        @apply mx-3 md:mx-[150px] xl:mx-[300px] 
    }
    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }
    .h3 {
        @apply text-[20px] xl:text-[36px] leading-[1.1] font-semibold;
    }
    .text-outline {
        -webkit-text-stroke:1px #ffffff;
    }
    .text-outline-hover {
        -webkit-text-stroke:1px #ec4899;
    }
}

@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

.animate-dots::after {
  content: '';
  animation: dots 1s steps(4, end) infinite;
}

